@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
    --color-primary: #1366d9;
    --color-primary-hover: #0f5bb5;
    --font-primary: "Inter", sans-serif;
}
